@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: Outfit;
}

select,input,textarea{
    border:1px solid #c2c2c2;
    outline-color: rgb(193, 190, 190);
    border-radius: 4px;
}

.active{
    background-color: #ede2e7;
    border-color:rgb(193, 190, 190);
}